body{
    text-align: center;
    background-color: #9E9EA4;
    background-repeat: no-repeat;
    background-size: cover;
}
.App-header p{
    margin-bottom: 0;
}
/* project css mobile*/
.Projects{
    display: flex;
    flex-direction: column;
}
.Projects img{
    width: 45%;
    /* height: 115%; */
    
}
.home{
    padding-left: 5%;
    padding-right: 5%;
}
.BookNRead, .Frizzy, .KDrama, .VideoGame{
    display:grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}
.BookNRead img, .Frizzy img, .KDrama img, .VideoGame img{
    grid-column-start: 1;
    grid-column-end:1 ;
    grid-row-start: 2;
    grid-row-end: 2;
}
.BookNRead p, .Frizzy p, .KDrama p, .VideoGame p{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

.form{
    display:flex;
    flex-direction: column;
    margin-top: 10%;
}

.about{
    text-align: left;
    margin-left: 2%;
    
}

.aboproj{
    text-align: left;
    padding: 5%;
    margin-left: 2%;
}

.first{
    height: 200px;
    width: 150px;
    margin-top: 5%;
}

.bookImg, .frizzyImg, .kdramaImg{
    height: 320px;
    width: 300px;
    margin-top: 10%;
}

.vgImg {
    height: 400px;
    width: 300px;
    margin-top: 10%;
}