body{
    text-align: center;
}
.App-header p{
    margin-bottom: 0;
}
/* project css mobile*/
.Projects{
    display: flex;
    flex-direction: column;
}
.Projects img{
    width: 45%;
    /* height: 115%; */
    
}
.BookNRead, .Frizzy, .KDrama, .VideoGame{
    display:grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}
.BookNRead img, .Frizzy img, .KDrama img, .VideoGame img{
    grid-column-start: 1;
    grid-column-end:1 ;
    grid-row-start: 2;
    grid-row-end: 2;
}
.BookNRead p, .Frizzy p, .KDrama p, .VideoGame p{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}