body{
    text-align: center;
    background: linear-gradient(to right, white, #9E9EA4);
    /* background-repeat: no-repeat;
    background-size: cover; */
}
.App-header p{
    margin-bottom: 0;
}

/* hamburger */
.navBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    padding-top: 10%;
  }
  
.navBar button {
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
    background: transparent;
    border: none;
    padding-top: 8%;
  }
  
.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;    
    left: 0;
    bottom: 0;
    /* height: 100vh; */
    width: 0;
    overflow: hidden;
    max-width: 540px;
    z-index: 9;
  }
  
.menuNav.showMenu {
    width: 100%;
    padding-left: 0%;
    padding-top: 8em;
    height: 2em;
    position: absolute;
    display: flex;
    justify-content: space-around;
    
  }
  
.navBar a {
    display: block;
    margin: 10px 40px;
    text-decoration: none;
    color: #256794;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0
  }
  
.menuNav li:first-child {
    margin-top: 7rem;
  }

.bar1{
    color: #fff;
    width: 40px;
    height: 40px
  }

.bar2{
    color: #7b7b7b;
    width: 40px;
    height: 40px
  }

  /* end hamburger */
.Resume{
    font-size: larger;
  }
/* project css mobile*/
.Projects{
    display: flex;
    flex-direction: column;
    
}
.Projects img{
    width: 45%;
    
    float: left;
}

.Projects h2{
    text-align: left ;
    padding-top: 5%;
    
}

.Projects h4{
    text-align: left;
}

.home{
    padding-left: 5%;
    padding-right: 5%;
}

.firstdescr{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 5%
}

.firstdescr p{
    margin-top: 0;
}

.form{
    display:flex;
    flex-direction: column;
    margin-top: 10%;
}
.form input{
    color: #fff;
}
.about{
    text-align: left;
    padding: 2em;
    
    
}
.about2{
    margin-top: 2%;    
    text-align: left;
    padding: 2em;
}

.skills{
    text-align: left;
}
.skill{
    font-weight: bold;
    margin-top: 1%;
}
.aboproj{
    text-align: left;
    padding: 5%;
    margin-left: 2%;
}

.first{
    height: 300px;
    width: 250px;
    margin-top: 3em;
}

.bookImg, .frizzyImg{
    height: 220px;
    width: 280px;
    margin-top: 15%;
    
}

.vgImg {
    height: 400px;
    width: 300px;
    margin-top: 10%;
}

.todoImg{
    height:500px ;
    width: 300px;
}
@media only screen and (min-width: 768px){
        .nav{
            justify-content: space-around;
        }
        .navBar button{
            visibility: hidden;
        }
        .navBar{
            display: flex;
            /* margin-bottom: 5%; */
            align-items: flex-end;
            justify-content: space-evenly;
            position: absolute;
            height: 175px;
            padding-top: 0;
            
        }
        .menuNav{
            display: contents;
            height: 75px;
            
        }
        .form{
            align-items: center;
        }
        .form input, .form textarea{
            width: 50%;
            
        }
      
        .bookImg, .frizzyImg, .kdramaImg{
            height: 220px;
            width: 280px;
            margin-top: 20%;
            
        }
        
        .vgImg {
            height: 400px;
            width: 300px;
            margin-top: 10%;
        }
        
        .todoImg{
            height:500px ;
            width: 300px;
            margin-top: 4%;
        }
}


@media only screen  and (min-width: 1440px){
        
        .first{
            height: 400px;
            width: 350px;
        }
        .about{
           
            padding-left: 30%;
            padding-right: 30%;
            
        }
        .about2{
            
            padding-left: 30%;
            padding-right: 30%;
        }
        .aboproj{
            padding-left: 10%;
            padding-right: 10%;

        }
        img.first{
            margin-top: 3%;
        }
        .Projects img{
            height: 400px;
            width: 370px;
        }
        .Todo img{
            height: 400px;
            width: 250px
        }
        .bookImg, .frizzyImg, .kdramaImg{
            height: 220px;
            width: 280px;
            margin-top: 20%;
            
        }
        
        .vgImg {
            height: 400px;
            width: 300px;
            margin-top: 10%;
        }
        
        .todoImg{
            height:500px ;
            width: 300px;
            margin-top: 4%;
        }

}